.Select{
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  height: 36px;
  background: #f0f0f0;
  color:gray;
  padding: 0px 16px;
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 500;
  -webkit-appearance:none;
  font-style: normal;
  transition: 0.1s;

  &:focus{
    box-shadow: inset 0 0 0 1px#80d0c7 !important;
    transition: 0.1s;
  }
}

.error{
  box-shadow: inset 0 0 0 1px red !important;
}