.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.title{
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 20px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.col{
  padding: 24px 24px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 16px;

  .contact{
    font-weight: 600;
  }

  .row{
    & > div{
      margin-bottom: 16px;

      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
}

.partnerCol{
  padding: 24px 24px;
  background: rgba(255, 204, 0, 0.9);
  color:white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  @media(max-width: 992px) {
    margin-top: 24px;
  }


}

.table{
  display: flex;
  flex-direction: column;

  th{
    background: #f0f0f0;
  }
}

.funnelCard{
  color:black;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  transition: 0.3s;
  cursor:pointer;

  &:hover{
    background: #DDDDDD;
  }

   a.description  {
      color:gray;
      font-size: 14px;
  }
}

.educationFunnnelCard{
  border-radius: 8px;
  font-weight:500;
  display: flex;
  align-items: center;
  color:white;
  padding: 12px 24px;
  cursor: pointer;
  background: #80d0c7;
  transition: 0.3s;


  .icon{
    margin-right:4px;
    display: none;
  }

  &:hover{
    justify-content: center;
    align-items: center;
    .text{
        display: none;
    }
    .icon{
      display: block;
    }
    transition: 0.3s;
    background: #80C0D0;
  }
}