.wrapper {
    width: 100%;
}

.primary_box{
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding:12px 24px;
}

.text{
    margin: 0px 0px 0px 40px;
    font-size: 18px;
    font-weight: 700;
}

.active{
    background: #f0f0f0;
}