.wrapper {
    width: 100%;

    & > a{
        margin-bottom: 12px;

        &:last-child{
            margin: 0;
        }
    }
}

.primary_box{
    position: relative;
    padding: 16px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.secondary_box{
    position: relative;
    padding: 8px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.icon{
    position: absolute;
}

.text{
    font-size: 18px;
    font-weight: 600;
    margin:0 auto;
}

.active{
    background: #f0f0f0;
}